{% extends 'home.html'%}
{% load staticfiles %}

{% block main %}
	<div style="margin-left:30%; margin-top:15%;"> 
	<span class="mdl-layout-title">Trending Issues</span>
	{% for x in posts%}
	
	<div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width:550px;margin-top:10px;">
		<div class="mdl-card__title mdl-card--expand" style="color:black;height:176px;margin-top:0; padding:25px;">
			<h4>{{x.issue.title}}<br></h4>
			<div class="tag-tip">
				<b>{{x.status}}</b>
			</div>
		</div>
		<div class="mdl-card__supporting-text">
			<b>{{x.issue.description}}</b>
			<br><div class="chip">{{x.issue.domain}}</div>
			<br><div style="height:auto; width:100%; font-size: 10px; text-align: right; float:right">Posted on {{x.issue.posted_on|date:"d-m-y"}} by {{ x.issue.posted_by}}</div>
		</div>
		<div class="mdl-card__actions mdl-card--border">
			{% ifequal x.upvoted False %}
				<a id="upvote-{{x.issue.id}}" data-upvoted="300" class="thumbs-up" onclick="upvote({{x.issue.id}})">
			{%endiequal %}
			{% ifequal x.upvoted True %}
				<a id="upvote-{{x.issue.id}}" data-upvoted="200" class="thumbs-up" onclick="upvote({{x.issue.id}})">
			{%endiequal %}	
				{% ifequal x.upvoted False %}
    				<i id="upvote-symbol-o-{{x.issue.id}}" class="fa fa-thumbs-o-up"></i>
      			{% endifequal%}
      			{% ifequal x.upvoted True %}
      				<i id="upvote-symbol-up-{{x.issue.id}}" class="fa fa-thumbs-up"></i>
      			{%endifequal%}
      		</a>
      		<span id="upvote-container-{{x.issue.id}}" style="padding:5px;">{{x.issue.upvotes}}</span>
	{% if x.incharge %}
	<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      ASSIGN
    </a>
{% endif %}
  </div>	
	</div>
<span><a>View Suggestions</a></span>		
<form action="" method="post">{%csrf_token%}
<div class="mdl-textfield mdl-js-textfield">
  	{{form.text}}
  	<label class="mdl-textfield__label">Post a suggestion</label>

</div>
<br><button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit" onclick="submitSuggestion({{x.issue.id}})">Post</button>
</form>

<br>

{% endfor %}
</div>
{% endblock %}	

